<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>图片转Pdf</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body>

<div class="layui-container">
    <div class="layui-progress" style="margin: 15px 0 30px;">
        <div class="layui-progress-bar" lay-percent="100%"></div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>上传多张图片</legend>
    </fieldset>
    <div class="layui-upload">
        <button type="button" class="layui-btn" id="upload">多图片上传</button>
        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
            预览图：
            <div class="layui-upload-list" id="demo2"></div>
        </blockquote>
    </div>
    <div>
        <button type="button" id="download" class="layui-btn layui-hide">下载文件</button>
    </div>
</div>


<!-- 引入 layui.js 的 <script> 标签最好放置在 html 末尾 -->
<script th:src="@{/layui/layui.js}"></script>
<script data-th-inline="javascript" type="text/javascript">
    layui.use(['upload', 'layer'], function () {
        var layer = layui.layer,
            upload = layui.upload,
            $ = layui.jquery,
            id,
            form = layui.form;

        id = guid();

        upload.render({
            elem: '#upload',
            url: '/pdf/imgTransferPdf',
            multiple: true,
            data: {
                id: id
            },
            field: 'file',
            accept: 'file',
            exts: 'png|jpg|jpeg',
            before: function (obj) {
                obj.preview(function (index, file, result) {
                    $("#demo2").append('<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img" style="width: 25%;height: 25%;">')
                })
            },
            done: function (res) {
                if (res.code === 200) {
                    $("#download").removeClass('layui-hide')
                    layer.msg("上传成功");
                }
            }
        })

        $("#download").on('click', function () {
            window.location.href = '/pdf/toZip?id=' + id;
        })

        function getQueryParams() {
            return {
                id: id
            }
        }

        function guid() {
            return 'xxxxxxxxxxxx4xxxyxxxxxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                var r = Math.random() * 16 | 0,
                    v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
        }

        function download(url, params, fileName) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", url, true); // 也可以使用POST方式，根据接口
            xhr.responseType = "blob"; // 返回类型blob
            // 定义请求完成的处理函数，请求前也可以增加加载框/禁用下载按钮逻辑
            xhr.onload = function () {
                // 请求完成
                if (this.status === 200) {
                    // 返回200
                    var blob = this.response;
                    var reader = new FileReader();
                    reader.readAsDataURL(blob); // 转换为base64，可以直接放入a表情href
                    reader.onload = function (e) {
                        // 转换完成，创建一个a标签用于下载
                        var a = document.createElement("a");
                        a.download = name + ".xls";
                        a.href = e.target.result;
                        $("body").append(a); // 修复firefox中无法触发click
                        a.click();
                        resolve(200)
                        $(a).remove();
                    };
                }
            };
            // 发送ajax请求
            xhr.send(formData);
        }

        // 解析 BASE64文件内容 for IE，Edge
        function createFile(urlData, fileType) {
            var bytes = window.atob(urlData),
                n = bytes.length,
                u8arr = new Uint8Array(n);
            while (n--) {
                u8arr[n] = bytes.charCodeAt(n);
            }
            return new Blob([u8arr], {type: fileType});
        }

        function parseParams(param, key, encode) {
            if (param == null) return '';
            var arr = [];
            var t = typeof (param);
            if (t === 'string' || t === 'number' || t === 'boolean') {
                arr.push(key + '=' + ((encode == null || encode) ? encodeURIComponent(param) : param));
            } else {
                for (var i in param) {
                    var k = key == null ? i : key + (param instanceof Array ? '[' + i + ']' : '.' + i);
                    arr.push(parseParams(param[i], k, encode));
                }
            }
            return arr.join("&");
        }

        function authorize(url, params, base64file, fileType, fileName, f) {
            var bytes = window.atob(base64file);
            // 判断是否为json，是则提示错误信息，否则下载文件
            if (isJSON(bytes)) {
                var r = JSON.parse(bytes);
                if (r != null && r.code === 200 && '0' === r.authStatus) {
                    var element = $(this.element);
                    self.modal.open($.i18n.get_prop('Authorize', 'Authorize'), 'system/authorize/actionAuthorize?url=' + url + "&&elemId =", {
                        area: $(window).width() <= 750 ? '90%' : '50%',
                        btn: [$.i18n.get_prop('SubmitButton', 'Submit'), $.i18n.get_prop('CancelButton', 'Cancel')],
                        yes: function (index, layero) {
                            var authmask = layer.load(1, {shade: [0.1, '#393D49']});
                            params.roleAuthUserName = $("#action-authorize input[name='authusername']").val();
                            params.roleAuthPassword = $("#action-authorize input[name='authpassword']").val();

                            if (params.roleAuthUserName === '' || params.roleAuthUserName == null || params.roleAuthPassword === '' || params.roleAuthPassword == null) {
                                self.alert.error("Required fields cannot be empty.")
                                layer.close(authmask);
                            } else {
                                layer.close(authmask);
                                self.download(url, params, fileName);
                            }

                        },
                    });
                } else {
                    resolveResponse(r);
                }
            } else {
                (f)();
            }
        }

        // 判断是否为json
        function isJSON(str) {
            if (typeof str == 'string') {
                try {
                    var obj = JSON.parse(str);
                    return !!(typeof obj == 'object' && obj);
                } catch (e) {
                    console.log('error：' + str + '!!!' + e);
                    return false;
                }
            }
            console.log('It is not a string!')
        }

        function resolveResponse(r, f, url) {
            if (r.code === 200) {
                f(r) && (f)();
            } else if (r.code === 401) {
                self.modal.info('Logon failure', 'Login is invalid, please login again', function () {
                    window.location.href = ctx + 'login';
                });
            } else if (r.code === 403) {
                self.alert.warn('Sorry, you do not have this permission');
            } else {
                if (url == '/application/account') {
                    console.log(r.message)
                    console.log(r.message == 'This customer was hit in the AML system!')
                    if (r.message == 'This customer was hit in the AML system!') {
                        layer.closeAll();
                        $('#account-application').find('#query').click();
                    }

                }
                self.alert.error(r.message ? r.message : 'The operation failure');
                console.error(r);
            }
        }
    });
</script>
</body>
</html>
